<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />

	<title>Cleanex - Staff Account</title>

	<link rel="stylesheet" href="../back/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../back/css/lineicons.css" />
	<link rel="stylesheet" href="../back/css/materialdesignicons.min.css" />
	<link rel="stylesheet" href="../back/css/fullcalendar.css" />
	<link rel="stylesheet" href="../back/css/main.css" />
</head>

<body>
	<div id="preloader">
		<div class="spinner"></div>
	</div>
	<!-- ASIDE -->
	<aside class="sidebar-nav-wrapper" th:replace="~{staff/fragment/aside::staffAside}"></aside>

	<div class="overlay"></div>
	<main class="main-wrapper">

		<!-- HEADER -->
		<header th:replace="~{staff/fragment/header::staffHeader}"></header>

		<div class="wrapper">
			<div class="acc-container mt-5">
				<div class="row">
					<div class="col-3 text-center">
						<img th:if="${staff.image == null}" src="../front/img/none-user.png"
							class="img-fluid rounded-circle mb-3" width="150" height="150" />
						<img th:unless="${staff.image == null}" th:src="'/upload/' + ${staff.image}"
							class="img-fluid rounded-circle mb-3" width="150" height="150" />
						<h3 th:text="${staff.fullname}"></h3>
						<a class="btn btn-primary mt-3" th:href="@{/staff/editProfile}">Edit Profile</a>
					</div>
					<div class="col-9">
						<h2 class="mb-4">Profile</h2>
						<dl class="row">
							<dt class="col-3">Username:</dt>
							<dd class="col-9" th:text="${staff.username}"></dd>
							<dt class="col-3">Email:</dt>
							<dd class="col-9" th:text="${staff.email}"></dd>
							<dt class="col-3">Phone:</dt>
							<dd class="col-9" th:text="${staff.phone}"></dd>
							<dt class="col-3">Job Occupied:</dt>
							<dd class="col-9" th:text="${staff.jobOccupied}"></dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</main>

	<script src="../back/js/bootstrap.bundle.min.js"></script>
	<script src="../back/js/Chart.min.js"></script>
	<script src="../back/js/dynamic-pie-chart.js"></script>
	<script src="../back/js/moment.min.js"></script>
	<script src="../back/js/fullcalendar.js"></script>
	<script src="../back/js/jvectormap.min.js"></script>
	<script src="../back/js/world-merc.js"></script>
	<script src="../back/js/polyfill.js"></script>
	<script src="../back/js/main.js"></script>


</body>

</html>