<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Staff - Forgot Password</title>

	<link rel="stylesheet" href="../back/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../back/css/lineicons.css" />
	<link rel="stylesheet" href="../back/css/materialdesignicons.min.css" />
	<link rel="stylesheet" href="../back/css/fullcalendar.css" />
	<link rel="stylesheet" href="../back/css/main.css" />
</head>

<body>
	<div class="wrapper">
		<div class="container my-5">
			<h2 class="mb-4">Forgot Password</h2>
			<form th:action="@{/staff/getOtp}" method="post" class="needs-validation" novalidate>
				<div th:if="${pageError}" class="error-message" th:text="${pageError}"></div>
				<div class="mb-3">
					<input class="form-control" placeholder="Enter your phone email:" type="email" id="email"
						name="email" required />
					<div class="valid-feedback">Valid.</div>
					<div class="invalid-feedback">
						Please enter your email in order to send OTP.
					</div>
				</div>
				<button class="btn btn-primary" type="submit" id="sendCodeButton" onclick="disableButton()">
					Send Code
				</button>
			</form>
		</div>
	</div>

	<script src="../back/js/bootstrap.bundle.min.js"></script>
	<script src="../back/js/Chart.min.js"></script>
	<script src="../back/js/dynamic-pie-chart.js"></script>
	<script src="../back/js/moment.min.js"></script>
	<script src="../back/js/fullcalendar.js"></script>
	<script src="../back/js/jvectormap.min.js"></script>
	<script src="../back/js/world-merc.js"></script>
	<script src="../back/js/polyfill.js"></script>
	<script src="../back/js/main.js"></script>

	<script>
		function disableButton() {
			event.preventDefault();

			const button = document.getElementById("sendCodeButton");
			button.disabled = true;

			setTimeout(() => {
				button.disabled = false;
			}, 5000);

			event.target.closest('form').submit();
		}
	</script>
</body>

</html>