<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>Cleanex - Staff Dashboard</title>

	<link rel="stylesheet" href="../back/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../back/css/lineicons.css" />
	<link rel="stylesheet" href="../back/css/materialdesignicons.min.css" />
	<link rel="stylesheet" href="../back/css/fullcalendar.css" />
	<link rel="stylesheet" href="../back/css/main.css" />
	<style>
		.left-info {
			text-align: center;

			@media(max-width: 768px) {
				margin-bottom: 40px;
			}
		}

		.left-info img {
			width: 150px;
			height: 150px;
			object-fit: cover;
			border-radius: 50%;
			margin-bottom: 10px;

			@media(max-width: 768px) {
				width: 120px;
				height: 120px;
			}
		}

		.left-info h3 {
			font-weight: 500;
			color: #000;
			margin: 15px 0;

			@media(max-width: 768px) {
				font-size: 30px;
			}
		}

		.left-info a {
			margin-top: 10px;
		}

		.right-info dt {
			color: #000;
		}
	</style>
</head>

<body>
	<!-- ASIDE -->
	<aside class="sidebar-nav-wrapper" th:replace="~{staff/fragment/aside::staffAside}"></aside>

	<div class="overlay"></div>
	<main class="main-wrapper">

		<!-- HEADER -->
		<header th:replace="~{staff/fragment/header::staffHeader}"></header>

		<section class="section">
			<div class="container-fluid">
				<div class="title-wrapper pt-30">
					<div class=" align-items-center">
						<div class="title">
							<h2>Welcome, <span th:text="${staff.fullname}"></span></h2>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="wrapper">
			<div class="acc-container mt-5">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3 left-info">
						<img loading="lazy" th:if="${staff.image != null}" th:src="'/upload/'+${staff.image}" />
						<img loading="lazy" th:unless="${staff.image != null}" src="../front/img/none-user.png" />
						<h3 th:text="${staff.fullname}"></h3>
						<a class="btn btn-primary mt-3" th:href="@{/staff/editProfile}">Edit Profile</a>
					</div>
					<div class="col-lg-9 col-md-9 col-sm-9 right-info">
						<h2 class="mb-4">Profile</h2>
						<dl class="row">
							<dt class="col-lg-4 col-md-4 col-sm-5">Username:</dt>
							<dd class="col-lg-8 col-md-8 col-sm-7" th:text="${staff.username}"></dd>
							<dt class="col-lg-4 col-md-4 col-sm-5">Email:</dt>
							<dd class="col-lg-8 col-md-8 col-sm-7" th:text="${staff.email}"></dd>
							<dt class="col-lg-4 col-md-4 col-sm-5">Phone:</dt>
							<dd class="col-lg-8 col-md-8 col-sm-7" th:text="${staff.phone}"></dd>
							
							<dt class="col-lg-4 col-md-4 col-sm-5">Experience:</dt>
							<dd class="col-lg-8 col-md-8 col-sm-7" th:if="${staff.yearExp == 1}"
								th:text="${staff.yearExp + ' year'}"></dd>
							<dd class="col-lg-8 col-md-8 col-sm-7" th:if="${staff.yearExp > 1}"
								th:text="${staff.yearExp + ' years'}"></dd>
								
							<dt class="col-lg-4 col-md-4 col-sm-5">This month salary:</dt>
							<dd class="col-lg-8 col-md-8 col-sm-7"
								th:text="${#numbers.formatInteger(staff.salary, 0, 'COMMA') + ' vnd'}"></dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</main>

	<script src="../back/js/bootstrap.bundle.min.js"></script>
	<script src="../back/js/Chart.min.js"></script>
	<script src="../back/js/dynamic-pie-chart.js"></script>
	<script src="../back/js/moment.min.js"></script>
	<script src="../back/js/fullcalendar.js"></script>
	<script src="../back/js/jvectormap.min.js"></script>
	<script src="../back/js/world-merc.js"></script>
	<script src="../back/js/polyfill.js"></script>
	<script src="../back/js/main.js"></script>
</body>

</html>