<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Admin - Verify OTP</title>

	<link rel="stylesheet" href="../../back/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../../back/css/lineicons.css" />
	<link rel="stylesheet" href="../../back/css/materialdesignicons.min.css" />
	<link rel="stylesheet" href="../../back/css/fullcalendar.css" />
	<link rel="stylesheet" href="../../back/css/main.css" />
</head>

<body>
	<div class="wrapper">
		<div class="container">
			<h2 class="mb-4">Enter your OTP</h2>
			<form th:action="@{/user/verification}" method="post">
				<div th:if="${error}" class="error-message" th:text="${error}"></div>
				<div class="mb-3">
					<input class="form-control" placeholder="Enter your OTP:" type="text" id="otp" name="otp"
						maxlength="4" oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 4);" required />
				</div>
				<div class="row">
					<div class="col-6">
						<button class="btn btn-success" type="submit">Submit</button>
					</div>
					<div class="col-6 d-flex justify-content-end">
						<a class="btn btn-outline-warning" th:href="@{/user/resendOtp}" id="resend">Resend OTP</a>
					</div>
				</div>
			</form>
		</div>
	</div>

	<script src="../../back/js/bootstrap.bundle.min.js"></script>
	<script src="../../back/js/Chart.min.js"></script>
	<script src="../../back/js/dynamic-pie-chart.js"></script>
	<script src="../../back/js/moment.min.js"></script>
	<script src="../../back/js/fullcalendar.js"></script>
	<script src="../../back/js/jvectormap.min.js"></script>
	<script src="../../back/js/world-merc.js"></script>
	<script src="../../back/js/polyfill.js"></script>
	<script src="../../back/js/main.js"></script>
</body>

</html>