<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<title>Blog</title>

	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap" rel="stylesheet" />
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />

	<link href="../front/img/favicon.ico" rel="icon" />
	<link href="../front/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
	<link href="../front/lib/lightbox/css/lightbox.min.css" rel="stylesheet" />
	<link href="../front/css/style.css" rel="stylesheet" />

</head>

<body>
	<div id="preloader">
		<div class="spinner"></div>
	</div>

	<!-- Header -->
	<div th:replace="~{main/fragments/header::mainHeader}"></div>

	<div class="wrapper">
		<div class="service">
			<div class="container">
				<div class="section-header">
					<p>Blogs</p>
					<h2>Where clients give feedbacks</h2>
				</div>
				
			</div>
		</div>
	</div>

	<!-- Footer -->
	<div th:replace="~{main/fragments/footer::mainFooter}"></div>

	<!-- BACK TO TOP -->
	<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

	<script src="../front/lib/easing/easing.min.js"></script>
	<script src="../front/lib/owlcarousel/owl.carousel.min.js"></script>
	<script src="../front/lib/isotope/isotope.pkgd.min.js"></script>
	<script src="../front/lib/lightbox/js/lightbox.min.js"></script>
	<script src="../front/js/main.js"></script>
</body>

</html>