<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<title>Cleanex - Home Cleaning Service</title>

	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet" />
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

	<link href="../front/img/favicon.ico" rel="icon" />
	<link href="../front/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
	<link href="../front/lib/lightbox/css/lightbox.min.css" rel="stylesheet" />
	<link href="../front/css/style.css" rel="stylesheet" />
</head>

<body>
	<div id="preloader">
		<div class="spinner"></div>
	</div>

	<!-- Header -->
	<div class="header home">
		<div class="container-fluid">
			<div class="header-top row align-items-center">
				<div class="col-lg-3">
					<div class="brand">
						<a th:href="@{/}">Cleanex</a>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="topbar">
						<div class="topbar-col">
							<a href="tel:+012 345 67890"><i class="fa fa-phone-alt"></i>+012 345 67890</a>
						</div>
						<div class="topbar-col">
							<a href="mailto:cleanex@gmail.com"><i class="fa fa-envelope"></i>cleanex@gmail.com</a>
						</div>
					</div>
					<div class="navbar navbar-expand-lg bg-light navbar-light">
						<a href="#" class="navbar-brand">MENU</a>
						<button type="button" class="navbar-toggler" data-toggle="collapse"
							data-target="#navbarCollapse">
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
							<div class="navbar-nav ml-auto">
								<a class="nav-item nav-link active" th:href="@{/}">Home</a>
								<a class="nav-item nav-link" th:href="@{/service}">Service</a>
								<a class="nav-item nav-link" th:href="@{/blog}">Blog</a>

								<a class="nav-item nav-link" th:href="@{/about}">About</a>
								<a class="nav-item nav-link" th:href="@{/contact}">Contact</a>

								<a class="nav-item nav-link" th:href="@{/user/login}" th:if="${session.usrId == null}">
									Login
								</a>

								<a class="nav-item nav-link" th:href="@{/user/accounts}"
									th:if="${session.usrId != null}">
									Your Account
								</a>
								<a class="nav-item nav-link" th:href="@{/user/orders}" th:if="${session.usrId != null}">
									Orders
								</a>
								<a class="nav-item nav-link" th:href="@{/user/logout}" th:if="${session.usrId != null}">
									Logout
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="hero">
			<div class="container">
				<div class="row align-items-center justify-content-start py-5">
					<div class="col-12">
						<h2>Best & Trusted</h2>
						<h2>
							<span>Cleaning</span>
							<span class="align-items-center">Service</span>
						</h2>
						<p class="align-items-center">At least 1 Year Experience Employees will clean your home!</p>
						<a class="btn" href="#PlanningPrice">Plan the price now!</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- About -->
	<div class="about">
		<div class="container">
			<div class="section-header">
				<p>Our Staffs</p>
				<h2>Experience Matter</h2>
			</div>
			<div class="row">
				<div class="col-lg-5 col-md-6">
					<div class="about-img">
						<img loading="lazy" src="../front/img/about.jpg" alt="Image">
					</div>
				</div>
				<div class="col-lg-7 col-md-6">
					<div class="about-text">
						<h2><span>1</span> year of experience least</h2>
						<p>We are dedicated to providing top-notch cleaning services, backed by over a decade of
							experience. Our team is equipped with the best tools and methods to ensure your
							space
							shines every time.</p>
						<p>With a focus on reliability, efficiency, and customer satisfaction, we aim to exceed
							expectations with every cleaning. Whether it's residential or commercial spaces, our
							expert cleaners are here to transform your environment.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Service -->
	<div class="service">
		<div class="container">
			<div th:if="${!#lists.isEmpty(services)}" class="section-header mt-5">
				<p>Our Services</p>
				<h2>Commit to Making Your Home Fresher</h2>
			</div>

			<div th:if="${#lists.isEmpty(services)}" class="section-header mt-5">
				<h2>There are currently no services available.</h2>
			</div>
		</div>
		<div class="service-container">
			<div th:if="${!#lists.isEmpty(services)}" class="service-inner">
				<input class="service-input" type="radio" name="slider" id="s1" checked>
				<input class="service-input" type="radio" name="slider" id="s2">
				<input class="service-input" type="radio" name="slider" id="s3">
				<input class="service-input" type="radio" name="slider" id="s4">
				<input class="service-input" type="radio" name="slider" id="s5">
				<input class="service-input" type="radio" name="slider" id="s6">

				<div class="service-cards">
					<label th:each="item, iterStat : ${services}" th:if="${item.status != 'disabled'}"
						th:for="'s' + ${iterStat.count}" th:id="'slide' + ${iterStat.count}">
						<div class="service-card">
							<div class="service-image">
								<img loading="lazy" th:src="'/upload/'+${item.image}" alt="Service Image" />
							</div>

							<div class="service-content">
								<div class="service-inner-content">
									<span class="service-name" th:text="${item.serName}"></span>
									<span class="service-slash">/</span>
									<span class="service-price" th:text="${item.basePrice} + '$'"></span>
								</div>
								<span class="service-des" th:text="${item.description}"></span>
								<a class="btn-book" href="javascript:void(0);" onclick="showBookingPopup(event)"
									th:attr="serId=${item.id}, userId=${session.usrId}, serPrice=${item.basePrice}">
									Book Now
								</a>
							</div>
						</div>
					</label>
				</div>
			</div>
		</div>
	</div>
	<!-- Popup Modal -->
	<div id="bookingModal" style="display: none;">
		<div class="modal-content">
			<h3>Select Service Date</h3>
			<input class="form-control my-4" type="date" id="serviceDate" required />
			<div class="d-flex justify-content-between">
				<button class="btn btn-success" onclick="confirmBooking()">Confirm Booking</button>
				<button class="btn btn-secondary" onclick="closePopup()">Cancel</button>
			</div>
		</div>
	</div>

	<!-- Feature -->
	<div class="feature">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="section-header left">
						<p>Why Choose Us</p>
						<h2>Professional Cleaners provide Distinguished Services</h2>
					</div>
					<p>
						We are more than just a cleaning company. Our attention to detail, commitment to quality,
						and customer-first approach make us the top choice for residential and commercial cleaning
						services
					</p>
					<a class="btn" th:href="@{/about}">Learn More</a>
				</div>
				<div class="col-md-7">
					<div class="row align-items-center feature-item">
						<div class="col-5">
							<img loading="lazy" src="../front/img/feature-1.jpg" alt="Feature">
						</div>
						<div class="col-7">
							<h3>Expert Staffs</h3>
							<p>
								Our team is made up of highly trained professionals who are dedicated to
								delivering exceptional results.
							</p>
						</div>
					</div>
					<div class="row align-items-center feature-item">
						<div class="col-5">
							<img loading="lazy" src="../front/img/feature-2.jpg" alt="Feature">
						</div>
						<div class="col-7">
							<h3>Eco-Friendly Cleaning</h3>
							<p>
								We prioritize using green cleaning products that are safe for both your family
								and the environment.
							</p>
						</div>
					</div>
					<div class="row align-items-center feature-item">
						<div class="col-5">
							<img loading="lazy" src="../front/img/feature-3.jpg" alt="Feature">
						</div>
						<div class="col-7">
							<h3>Flexible Scheduling</h3>
							<p>
								We work around your schedule to ensure minimal disruption, offering convenient
								booking options and flexible hours.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Team -->
	<div class="team">
		<div class="container">
			<div th:if="${!#lists.isEmpty(staffs)}" class="section-header mt-5">
				<p>Team Member</p>
				<h2>Meet Our Expert Cleaners</h2>
			</div>

			<div th:if="${#lists.isEmpty(staffs)}" class="section-header mt-5">
				<h2>There are currently no staff available</h2>
			</div>
		</div>

		<div class="team-container">
			<div th:if="${!#lists.isEmpty(staffs)}" class="team-inner">
				<div id="members" class="carousel slide" data-ride="carousel" data-interval="5000">
					<div class="carousel-inner">
						<div th:each="item, iterStat : ${staffs}"
							th:class="${iterStat.first} ? 'carousel-item active' : 'carousel-item'">
							<div class="member-info">
								<div class="member-img">
									<img loading="lazy" th:src="'/upload/'+${item.image}" alt="Staff Image" />
								</div>
								<div class="member-content">
									<h3 th:text="${item.fullname}"></h3>
									<i class="fa fa-phone-alt phone">
										&nbsp;
										<p th:text="${item.phone}"></p>
									</i>
								</div>
							</div>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#members" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#members" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>

	<!-- FAQs -->
	<div class="faqs" id="FAQ">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="section-header left">
						<p>You Might Ask</p>
						<h2>Frequently Asked Questions</h2>
					</div>
					<img loading="lazy" src="../front/img/faqs.jpg" alt="Image">
				</div>
				<div class="col-md-7">
					<div id="accordion">
						<div class="card">
							<div class="card-header">
								<a class="card-link collapsed" data-toggle="collapse" href="#collapseOne"
									aria-expanded="true">
									<span>1</span> What areas do you serve?
								</a>
							</div>
							<div id="collapseOne" class="collapse show" data-parent="#accordion">
								<div class="card-body">
									We provide services across the city and its surrounding suburbs. Contact us
									to see if we cover your location.
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a class="card-link" data-toggle="collapse" href="#collapseTwo">
									<span>2</span> Do you use eco-friendly products?
								</a>
							</div>
							<div id="collapseTwo" class="collapse" data-parent="#accordion">
								<div class="card-body">
									Yes, we prioritize the use of eco-friendly and non-toxic products to ensure
									the safety of our clients and the environment.
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a class="card-link" data-toggle="collapse" href="#collapseThree">
									<span>3</span> How do I book a service?
								</a>
							</div>
							<div id="collapseThree" class="collapse" data-parent="#accordion">
								<div class="card-body">
									You can book a service by calling us, visiting our website, or filling out
									the form online. We offer flexible scheduling to suit your needs.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Pricing Plan -->
	<div class="price" id="PlanningPrice">
		<div class="container">
			<div class="section-header">
				<p>For your convenience, we offer three packages that are suited to our usual clients needs.</p>
				<h2>Pricing Plan Reference</h2>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="price-item">
						<div class="price-header">
							<div class="price-icon">
								<i class="fa fa-home"></i>
							</div>
							<div class="price-title">
								<h2>Basic Clean</h2>
							</div>
							<div class="price-pricing">
								<h2><small>$</small>49</h2>
							</div>
						</div>
						<div class="price-body">
							<div class="price-des">
								<ul>
									<li>Basic Bathroom & Kitchen Cleaning</li>
									<li>Vacuuming & Dusting</li>
									<li>Surface Wipe-Down</li>
									<li>Floor Cleaning</li>
									<li>Complete Within 4 hours</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="price-item featured-item">
						<div class="price-header">
							<div class="price-icon">
								<i class="fa fa-star"></i>
							</div>
							<div class="price-title">
								<h2>Deep Clean</h2>
							</div>
							<div class="price-pricing">
								<h2><small>$</small>79</h2>
							</div>
						</div>
						<div class="price-body">
							<div class="price-des">
								<ul>
									<li>Bathroom & Kitchen Sanitization</li>
									<li>Carpet & Upholstery Cleaning</li>
									<li>Complete Room Cleaning</li>
									<li>Window & Glass Polishing</li>
									<li>Complete Within 6 hours</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="price-item">
						<div class="price-header">
							<div class="price-icon">
								<i class="fa fa-gift"></i>
							</div>
							<div class="price-title">
								<h2>Ultimate Clean</h2>
							</div>
							<div class="price-pricing">
								<h2><small>$</small>129</h2>
							</div>
						</div>
						<div class="price-body">
							<div class="price-des">
								<ul>
									<li>Exterior Cleaning (Windows, Porch, etc.)</li>
									<li>Special Requests (Pets, Allergies)</li>
									<li>Customized Cleaning Plan</li>
									<li>All Deep Clean Services</li>
									<li>Complete Within 12 Hours</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- BACK TO TOP -->
	<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
	
	<!-- Footer -->
	<div th:replace="~{main/fragments/footer::mainFooter}"></div>

	<script>
		let selectedServiceId = null;
		let UserId = null;
		let price = null;
		const inputDate = document.getElementById("serviceDate");
		const currentYear = new Date().getFullYear();
		inputDate.max = `${currentYear + 2}-12-31`;

		function showBookingPopup(event) {
			var item = event.target
			selectedServiceId = item.getAttribute("serId");
			UserId = item.getAttribute("userId");
			price = item.getAttribute("serPrice");
			document.getElementById("bookingModal").style.display = "flex";
			document.body.classList.add("no-scroll");
		}

		function closePopup() {
			document.getElementById("bookingModal").style.display = "none";
			document.body.classList.remove("no-scroll");
		}

		function confirmBooking() {
			const date = document.getElementById("serviceDate").value;

			if (!date) {
				alert("Please select a date.");
				return;
			}

			if (UserId == null) {
				window.location.href = '/user/login';
			}

			$.ajax({
				url: '/user/bookService',
				type: 'POST',
				data: {
					userId: UserId,
					serviceId: selectedServiceId,
					startDate: date,
					price: price
				},
				success: function (response, textStatus, xhr) {
					if (xhr.status === 200) {
						showNotification(response, "success");
						closePopup();
					} else {
						showNotification("Failed to create order: " + response, "error");
					}
				},
				error: function (xhr) {
					if (xhr.status === 409) {
						showNotification("Service is already booked.", "warning");
					} else {
						console.error('Error:', xhr.responseText);
						showNotification("Error: " + xhr.responseText, "error");
					}
				}
			});
		}

		function showNotification(message, type) {
			var notification = $('<div class="notification ' + type + '">' + message + '</div>');
			$('body').append(notification);
			notification.fadeIn('slow').delay(3000).fadeOut('slow', function () {
				$(this).remove();
			});
		}
	</script>
</body>

</html>