<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="Cleanex - Home Cleaning Service" name="keywords" />
	<meta content="Cleanex - Home Cleaning Service" name="description" />

	<title>Cleanex - Services</title>

	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap" rel="stylesheet" />
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />

	<link href="../front/img/favicon.ico" rel="icon" />
	<link href="../front/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
	<link href="../front/lib/lightbox/css/lightbox.min.css" rel="stylesheet" />
	<link href="../front/css/style.css" rel="stylesheet" />
</head>

<body>
	<div id="preloader">
		<div class="spinner"></div>
	</div>

	<!-- Header -->
	<div th:replace="~{main/fragments/header::mainHeader}"></div>

	<div class="wrapper">
		<!-- Service -->
		<div class="service">
			<div class="container">
				<div class="section-header">
					<p>Our Services</p>
					<h2>Commit to Making Your Home Fresher</h2>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-6 pb-4" th:each="item : ${services}" th:if="${item == null}">
						<div class="service-item">
							<img loading="lazy" th:if="${item.image != null}" th:src="'/upload/'+${item.image}" />
							<img loading="lazy" th:if="${item.image == null}" th:src="'../../front/img/none-img.png'" />
							<h3 th:text="${item.serName}"></h3>
							<p>Price: <span th:text="${item.basePrice}"></span></p>
							<p th:text="${item.description}"></p>
							<a th:if="${session.usrId != null}" class="btn justify-content-end"
								th:href="@{/user/bookService/{serId}(serId=${item.serId})}">Book Now</a>
						</div>
					</div>
					<p th:unless="${services == null}" class="col-12 mb-5">
						We are re-organizing our services to better meet your house cleaning demands.
					</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Pricing Plan -->
	<div class="price">
		<div class="container">
			<div class="section-header">
				<p>For your convenience, we offer three packages that are suited to our usual clients needs.</p>
				<h2>Pricing Plan Reference</h2>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="price-item">
						<div class="price-header">
							<div class="price-icon">
								<i class="fa fa-home"></i>
							</div>
							<div class="price-title">
								<h2>Basic Clean</h2>
							</div>
							<div class="price-pricing">
								<h2><small>$</small>49</h2>
							</div>
						</div>
						<div class="price-body">
							<div class="price-des">
								<ul>
									<li>Basic Bathroom & Kitchen Cleaning</li>
									<li>Vacuuming & Dusting</li>
									<li>Surface Wipe-Down</li>
									<li>Floor Cleaning</li>
									<li>Complete Within 4 hours</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="price-item featured-item">
						<div class="price-header">
							<div class="price-icon">
								<i class="fa fa-star"></i>
							</div>
							<div class="price-title">
								<h2>Deep Clean</h2>
							</div>
							<div class="price-pricing">
								<h2><small>$</small>79</h2>
							</div>
						</div>
						<div class="price-body">
							<div class="price-des">
								<ul>
									<li>Bathroom & Kitchen Sanitization</li>
									<li>Carpet & Upholstery Cleaning</li>
									<li>Complete Room Cleaning</li>
									<li>Window & Glass Polishing</li>
									<li>Complete Within 6 hours</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="price-item">
						<div class="price-header">
							<div class="price-icon">
								<i class="fa fa-gift"></i>
							</div>
							<div class="price-title">
								<h2>Ultimate Clean</h2>
							</div>
							<div class="price-pricing">
								<h2><small>$</small>129</h2>
							</div>
						</div>
						<div class="price-body">
							<div class="price-des">
								<ul>
									<li>Exterior Cleaning (Windows, Porch, etc.)</li>
									<li>Special Requests (Pets, Allergies)</li>
									<li>Customized Cleaning Plan</li>
									<li>All Deep Clean Services</li>
									<li>Complete Within 12 Hours</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<div th:replace="~{main/fragments/footer::mainFooter}"></div>

	<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

	<script src="../front/lib/easing/easing.min.js"></script>
	<script src="../front/lib/owlcarousel/owl.carousel.min.js"></script>
	<script src="../front/lib/isotope/isotope.pkgd.min.js"></script>
	<script src="../front/lib/lightbox/js/lightbox.min.js"></script>
	<script src="../front/js/main.js"></script>
</body>

</html>