<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />

	<title>Cleanex - Service Management</title>

	<link rel="stylesheet" href="../../back/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../../back/css/lineicons.css" />
	<link rel="stylesheet" href="../../back/css/materialdesignicons.min.css" />
	<link rel="stylesheet" href="../../back/css/fullcalendar.css" />
	<link rel="stylesheet" href="../../back/css/main.css" />
	<link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/43.2.0/ckeditor5.css" />
</head>

<body>
	<div id="preloader">
		<div class="spinner"></div>
	</div>

	<!-- ASIDE -->
	<aside class="sidebar-nav-wrapper" th:replace="~{admin/fragment/aside::adminAside}"></aside>

	<div class="overlay"></div>
	<main class="main-wrapper">
		<!-- HEADER -->
		<header th:replace="~{admin/fragment/header::adminHeader}"></header>

		<div class="mx-5 mt-5">
			<h2 class="mb-4">Create Service</h2>
			<div th:if="${catchError}" class="error-message" th:text="${catchError}"></div>
			<form th:action="@{/admin/services/createService}" method="post" th:object="${new_item}"
				enctype="multipart/form-data">
				<div class="mb-3 row">
					<div class="col-5">
						<label class="form-label" for="serName">Service Name <span
								style="color: red;">(*)</span></label>
						<input class="form-control" type="text" id="serName" name="serName" required />
					</div>
					<div class="col-3">
						<label class="form-label" for="image">Image</label>
						<input class="form-control" type="file" id="image" th:field="*{image}" accept="image/*" />
					</div>
					<div class="col-2">
						<label class="form-label" for="basePrice">Base Price <span
								style="color: red;">(*)</span></label>
						<div class="input-group">
							<input type="text" class="form-control" pattern="^[0-9]*\.?[0-9]+$" id="basePrice"
								th:field="*{basePrice}" required />
							<div class="input-group-append">
								<span class="input-group-text" id="priceUnit">$</span>
							</div>
						</div>
					</div>
					<div class="col-2">
						<label class="form-label" for="staffRequired">Staff Required</label>
						<input class="form-control" type="number" id="staffRequired" th:field="*{staffRequired}" />
					</div>
				</div>
				<div class="mb-3">
					<label class="form-label" for="description">Description</label>
					<textarea class="form-control" rows="3" cols="50" id="description" style="resize:none;"
						maxlength="255" th:field="*{description}"></textarea>
					<small class="char" id="charCount">0/255</small>
				</div>
				<button type="submit" class="btn btn-success d-flex justify-content-end">Create</button>
			</form>
		</div>
	</main>

	<script src="../../back/js/bootstrap.bundle.min.js"></script>
	<script src="../../back/js/Chart.min.js"></script>
	<script src="../../back/js/dynamic-pie-chart.js"></script>
	<script src="../../back/js/moment.min.js"></script>
	<script src="../../back/js/fullcalendar.js"></script>
	<script src="../../back/js/jvectormap.min.js"></script>
	<script src="../../back/js/world-merc.js"></script>
	<script src="../../back/js/polyfill.js"></script>
	<script src="../../back/js/main.js"></script>

	<script>
		document.getElementById("duration").addEventListener("input", function () {
			const durationText = document.getElementById("durationText");
			durationText.textContent = this.value == 1 ? "hour" : "hours";
		});
	</script>
</body>

</html>