<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />

	<title>Admin - Service Management</title>

	<link rel="stylesheet" href="../../back/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../../back/css/lineicons.css" />
	<link rel="stylesheet" href="../../back/css/materialdesignicons.min.css" />
	<link rel="stylesheet" href="../../back/css/fullcalendar.css" />
	<link rel="stylesheet" href="../../back/css/main.css" />

	<style>
		.table thead tr th,
		.table tbody tr td {
			text-align: center !important;

			@media(max-width: 768px) {
				font-size: 12px;
				padding: 0 5px;
			}
		}

		.table tbody tr td img {
			width: 80px;
			height: 100px;
			object-fit: cover;

			@media(max-width: 768px) {
				width: 40px;
				height: 50px;
			}
		}

		.table tbody tr td img:hover {
			scale: calc(2);
		}

		.table tbody tr td a,
		.table tbody tr td button {
			transition: 0.25s;

			@media(max-width: 768px) {
				scale: calc(0.75);
			}
		}

		.table tbody tr td a:hover,
		.table tbody tr td button:hover {
			@media(max-width: 768px) {
				scale: calc(1);
			}
		}

		.table tbody tr td svg {
			height: 50px;
			width: 50px;

			@media(max-width: 768px) {
				height: 24px;
				width: 24px;
			}
		}

		.form-inline {
			display: inline-block;
		}
	</style>
</head>

<body>
	<!-- ASIDE -->
	<aside class="sidebar-nav-wrapper" th:replace="~{admin/fragment/aside::adminAside}"></aside>

	<div class="overlay"></div>
	<main class="main-wrapper">

		<!-- HEADER -->
		<header th:replace="~{admin/fragment/header::adminHeader}"></header>

		<div class="mx-3 mt-5">
			<div class="d-flex">
				<h2 class="flex-grow-1">Service List</h2>
				<div>
					<a class="btn btn-primary changeSize" th:href="@{/admin/services/create}">Create</a>
					<a class="svg-icon" th:href="@{/admin/services/create}">
						<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2Zm0 18a8 8 0 1 1 8-8 8 8 0 0 1-8 8Zm4-9h-3V8a1 1 0 0 0-2 0v3H8a1 1 0 0 0 0 2h3v3a1 1 0 0 0 2 0v-3h3a1 1 0 0 0 0-2Z"
								fill="#365cf5" class="fill-6563ff"></path>
						</svg>
					</a>
				</div>
			</div>
			<div class="mt-4 table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>No.</th>
							<th>Image</th>
							<th>Service</th>
							<th>Description</th>
							<th>Price</th>
							<th>Staff Req</th>
							<th>Status</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item : ${services}">
							<td th:text="${item.id}"></td>
							<td>
								<img loading="lazy" th:if="${item.image != null}" th:src="'/upload/'+ ${item.image}" />
								<img loading="lazy" th:unless="${item.image != null}"
									src="'../../front/img/no-service.png'" />
							</td>
							<td th:text="${item.serName}"></td>
							<td>
								<button type="button" data-bs-toggle="popover" title="Description"
									class="btn btn-outline-info changeSize" th:data-bs-content="${item.description}">
									Show Description
								</button>
								<button class="svg-icon" type="button" data-bs-toggle="popover" title="Description"
									th:data-bs-content="${item.description}">
									<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
										<path
											d="M12 2a10 10 0 1 0 10 10A10.011 10.011 0 0 0 12 2Zm0 18a8 8 0 1 1 8-8 8.01 8.01 0 0 1-8 8Zm0-8.5a1 1 0 0 0-1 1v3a1 1 0 0 0 2 0v-3a1 1 0 0 0-1-1Zm0-4a1.25 1.25 0 1 0 1.25 1.25A1.25 1.25 0 0 0 12 7.5Z"
											fill="#56d7f5" class="fill-6563ff"></path>
									</svg>
								</button>
							</td>
							<td th:text="${#numbers.formatInteger(item.basePrice, 0, 'COMMA') + ' vnd'}"></td>
							<td th:text="${item.staffRequired}"></td>
							<td th:if="${item.status == 'activated'}">
								<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
									<path
										d="M18.71 7.21a1 1 0 0 0-1.42 0l-7.45 7.46-3.13-3.14A1 1 0 1 0 5.29 13l3.84 3.84a1 1 0 0 0 1.42 0l8.16-8.16a1 1 0 0 0 0-1.47Z"
										fill="#19c836" class="fill-6563ff"></path>
								</svg>
							</td>
							<td th:if="${item.status == 'disabled'}">
								<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
									<path
										d="m13.41 12 4.3-4.29a1 1 0 1 0-1.42-1.42L12 10.59l-4.29-4.3a1 1 0 0 0-1.42 1.42l4.3 4.29-4.3 4.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l4.29-4.3 4.29 4.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42Z"
										fill="#dc3545" class="fill-6563ff"></path>
								</svg>
							</td>

							<td>
								<a class="btn btn-warning form-inline"
									th:href="@{/admin/services/edit(id=${item.id})}">Edit</a>

								<form class="form-inline" th:if="${item.status == 'activated'}"
									th:action="@{/admin/services/disable(id=${item.id})}" method="post">
									<button class="btn btn-danger" type="submit">Disable</button>
								</form>

								<form class="form-inline" th:if="${item.status == 'disabled'}"
									th:action="@{/admin/services/activate(id=${item.id})}" method="post">
									<button class="btn btn-success" type="submit">Activate</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
				<nav class="mt-5" th:if="${pv.totalPage > 1}">
					<ul class="pagination justify-content-center">
						<li class="page-item" th:classappend="${pv.pageCurrent == 1} ? 'disabled'">
							<a class="page-link"
								th:href="@{/admin/services/list(cp=${pv.pageCurrent - 1})}">Previous</a>
						</li>
						<li class="page-item" th:each="page : ${#numbers.sequence(1, pv.totalPage)}"
							th:classappend="${page == pv.pageCurrent} ? 'active'">
							<a class="page-link" th:href="@{/admin/services/list(cp=${page})}" th:text="${page}"></a>
						</li>
						<li class="page-item" th:classappend="${pv.pageCurrent == pv.totalPage} ? 'disabled'">
							<a class="page-link" th:href="@{/admin/services/list(cp=${pv.pageCurrent + 1})}">Next</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</main>

	<script src="../../back/js/bootstrap.bundle.min.js"></script>
	<script src="../../back/js/Chart.min.js"></script>
	<script src="../../back/js/dynamic-pie-chart.js"></script>
	<script src="../../back/js/moment.min.js"></script>
	<script src="../../back/js/fullcalendar.js"></script>
	<script src="../../back/js/jvectormap.min.js"></script>
	<script src="../../back/js/world-merc.js"></script>
	<script src="../../back/js/polyfill.js"></script>
	<script src="../../back/js/main.js"></script>

</body>

</html>