<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />

	<title>Cleanex - Staff Management</title>

	<link rel="stylesheet" href="../../back/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../../back/css/lineicons.css" />
	<link rel="stylesheet" href="../../back/css/materialdesignicons.min.css" />
	<link rel="stylesheet" href="../../back/css/fullcalendar.css" />
	<link rel="stylesheet" href="../../back/css/main.css" />

	<style>
		.table thead tr th,
		.table tbody tr td {
			text-align: center !important;

			@media(max-width: 768px) {
				font-size: 12px;
				padding: 0 5px;
			}
		}

		.table tbody tr td svg {
			height: 50px;
			width: 50px;

			@media(max-width: 768px) {
				height: 24px;
				width: 24px;
			}
		}

		.table tbody tr td a {
			transition: 0.25s;

			@media(max-width: 768px) {
				scale: calc(0.75);
			}
		}

		.form-inline {
			display: inline-block;
		}
	</style>
</head>

<body>
	<!-- ASIDE -->
	<aside class="sidebar-nav-wrapper" th:replace="~{admin/fragment/aside::adminAside}"></aside>

	<div class="overlay"></div>
	<main class="main-wrapper">

		<!-- HEADER -->
		<header th:replace="~{admin/fragment/header::adminHeader}"></header>

		<div class="mx-3 mt-5">
			<div class="d-flex mb-3">
				<h2 class="flex-grow-1">Staff List</h2>
				<div>
					<a class="btn btn-primary changeSize" th:href="@{/admin/staffs/create}">Provide Account</a>
					<a class="svg-icon" th:href="@{/admin/staffs/create}">
						<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M21 10.5h-1v-1a1 1 0 0 0-2 0v1h-1a1 1 0 0 0 0 2h1v1a1 1 0 0 0 2 0v-1h1a1 1 0 0 0 0-2Zm-7.7 1.72A4.92 4.92 0 0 0 15 8.5a5 5 0 0 0-10 0 4.92 4.92 0 0 0 1.7 3.72A8 8 0 0 0 2 19.5a1 1 0 0 0 2 0 6 6 0 0 1 12 0 1 1 0 0 0 2 0 8 8 0 0 0-4.7-7.28ZM10 11.5a3 3 0 1 1 3-3 3 3 0 0 1-3 3Z"
								fill="#365cf5" class="fill-6563ff"></path>
						</svg>
					</a>
				</div>
			</div>
			<div class="mb-3">
				<form th:action="@{/admin/staffs/list}" method="get" class="d-flex">
					<input type="text" name="search" class="form-control me-2" placeholder="Search..."
						th:value="${search}">
					<button type="submit" class="btn btn-primary">Search</button>
				</form>
			</div>
			<div th:if="${error}" th:text="${error}" style="color: red; font-weight: 500;"></div>
			<div class="table-responsive mt-4">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>No.</th>
							<th>Username</th>
							<th>Email</th>
							<th>Phone</th>
							<th>Status</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item : ${staffs}">
							<td th:text="${item.id}"></td>
							<td th:text="${item.username}"></td>
							<td>
								<button type="button" data-bs-toggle="popover" title="Email"
									class="btn btn-outline-info changeSize" th:data-bs-content="${item.email}">
									Email
								</button>
								<button class="svg-icon" type="button" data-bs-toggle="popover" title="Email"
									th:data-bs-content="${item.email}">
									<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
										<path
											d="M12 2a10 10 0 1 0 10 10A10.011 10.011 0 0 0 12 2Zm0 18a8 8 0 1 1 8-8 8.01 8.01 0 0 1-8 8Zm0-8.5a1 1 0 0 0-1 1v3a1 1 0 0 0 2 0v-3a1 1 0 0 0-1-1Zm0-4a1.25 1.25 0 1 0 1.25 1.25A1.25 1.25 0 0 0 12 7.5Z"
											fill="#56d7f5" class="fill-6563ff"></path>
									</svg>
								</button>
							</td>
							<td th:text="${item.phone}"></td>

							<!-- STATUS -->
							<td th:if="${item.status == 'available'}">
								<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
									<path
										d="M13.3 12.22A4.92 4.92 0 0 0 15 8.5a5 5 0 0 0-10 0 4.92 4.92 0 0 0 1.7 3.72A8 8 0 0 0 2 19.5a1 1 0 0 0 2 0 6 6 0 0 1 12 0 1 1 0 0 0 2 0 8 8 0 0 0-4.7-7.28ZM10 11.5a3 3 0 1 1 3-3 3 3 0 0 1-3 3Zm11.71-2.37a1 1 0 0 0-1.42 0l-2 2-.62-.63a1 1 0 0 0-1.42 0 1 1 0 0 0 0 1.41l1.34 1.34a1 1 0 0 0 1.41 0l2.67-2.67a1 1 0 0 0 .04-1.45Z"
										fill="#36e622" class="fill-6563ff"></path>
								</svg>
							</td>
							<td th:if="${item.status == 'unavailable'}">
								<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
									<path
										d="M13.3 12.22A4.92 4.92 0 0 0 15 8.5a5 5 0 0 0-10 0 4.92 4.92 0 0 0 1.7 3.72A8 8 0 0 0 2 19.5a1 1 0 0 0 2 0 6 6 0 0 1 12 0 1 1 0 0 0 2 0 8 8 0 0 0-4.7-7.28ZM10 11.5a3 3 0 1 1 3-3 3 3 0 0 1-3 3Zm10.91.5.8-.79a1 1 0 0 0-1.42-1.42l-.79.8-.79-.8a1 1 0 0 0-1.42 1.42l.8.79-.8.79a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l.79-.8.79.8a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42Z"
										fill="#faa51b" class="fill-6563ff"></path>
								</svg>
							</td>
							<td th:if="${item.status == 'disabled'}">
								<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
									<path
										d="m13.41 12 4.3-4.29a1 1 0 1 0-1.42-1.42L12 10.59l-4.29-4.3a1 1 0 0 0-1.42 1.42l4.3 4.29-4.3 4.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l4.29-4.3 4.29 4.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42Z"
										fill="#ed1411" class="fill-6563ff"></path>
								</svg>
							</td>

							<td>
								<a class="btn btn-danger" th:attr="id=${item.id}" onclick="Deactivate(event)"
									th:if="${item.status != 'disabled' && item.status != 'unavailable'}">Disable
								</a>
							</td>
						</tr>
					</tbody>
				</table>
				<nav class="mt-5" th:if="${pv.totalPage > 1}">
					<ul class="pagination justify-content-center">
						<li class="page-item" th:classappend="${pv.pageCurrent == 1} ? 'disabled'">
							<a class="page-link" th:href="@{/admin/staffs/list(cp=${pv.pageCurrent - 1})}">Previous</a>
						</li>
						<li class="page-item" th:each="page : ${#numbers.sequence(1, pv.totalPage)}"
							th:classappend="${page == pv.pageCurrent} ? 'active'">
							<a class="page-link" th:href="@{/admin/staffs/list(cp=${page})}" th:text="${page}"></a>
						</li>
						<li class="page-item" th:classappend="${pv.pageCurrent == pv.totalPage} ? 'disabled'">
							<a class="page-link" th:href="@{/admin/staffs/list(cp=${pv.pageCurrent + 1})}">Next</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		</div>
	</main>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="../../back/js/bootstrap.bundle.min.js"></script>
	<script src="../../back/js/Chart.min.js"></script>
	<script src="../../back/js/dynamic-pie-chart.js"></script>
	<script src="../../back/js/moment.min.js"></script>
	<script src="../../back/js/fullcalendar.js"></script>
	<script src="../../back/js/jvectormap.min.js"></script>
	<script src="../../back/js/world-merc.js"></script>
	<script src="../../back/js/polyfill.js"></script>
	<script src="../../back/js/main.js"></script>

	<script>
		function Deactivate(event) {
			event.preventDefault();
			var item = event.target;
			var staffId = item.getAttribute("id");
			if (confirm('Are you certain you want to deactivate this staff member? This account cannot be activated again!')) {
				$.ajax({
					url: '/admin/staffs/disabledAccount',
					type: 'POST',
					data: {id: staffId},
					success: function (response) {
						if (response === "success") {
							alert('Staff member deactivated successfully.');
							window.location.reload();
						} else {
							alert('Failed to deactivate the staff member.');
						}
					},
					error: function (xhr, status, error) {
						console.error('AJAX Error:', status, error);
						alert('An error occurred. Please try again.');
					}
				});
			}
		}
	</script>
</body>

</html>