<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />

	<title>Cleanex - Request Management</title>

	<link rel="stylesheet" href="../../back/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../../back/css/lineicons.css" />
	<link rel="stylesheet" href="../../back/css/materialdesignicons.min.css" />
	<link rel="stylesheet" href="../../back/css/fullcalendar.css" />
	<link rel="stylesheet" href="../../back/css/main.css" />
</head>

<body>
	<div id="preloader">
		<div class="spinner"></div>
	</div>
	<!-- ASIDE -->
	<aside class="sidebar-nav-wrapper" th:replace="~{admin/fragment/aside::adminAside}"></aside>

	<div class="overlay"></div>
	<main class="main-wrapper">

		<!-- HEADER -->
		<header th:replace="~{admin/fragment/header::adminHeader}"></header>
		<div class="mx-5 mt-5">
			<div class="col-12">
				<h2 class="mb-4">Request List</h2>
				<div class="table-responsive border-1">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>No.</th>
								<th>Service</th>
								<th>Request By</th>
								<th>Price</th>
								<th>Start Date</th>
								<th>Create Date</th>
								<th>Status</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="item : ${requests}">
								<td th:text="${item.id}"></td>
								<td th:text="${item.service_name}"></td>
								<td th:text="${item.fullname}"></td>
								<td th:text="${item.price + '$'}"></td>
								<td th:text="${#dates.format(item.start_date, 'dd-MM-yyyy')}"></td>
								<td th:text="${#dates.format(item.create_date, 'dd-MM-yyyy')}"></td>

								<td th:text="${item.status}"></td>
								<td>
									<a class="btn btn-success changeSize"
										th:if="${item.staff_id == null && staffCheck > 0}"
										th:href="@{/admin/request/staffsForAssign(urdId=${item.id})}">Assign Staff
									</a>
									<a class="svg-icon" th:if="${item.staff_id == null && staffCheck > 0}"
										th:href="@{/admin/request/staffsForAssign(urdId=${item.id})}">
										<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
											<path
												d="M21 10.5h-1v-1a1 1 0 0 0-2 0v1h-1a1 1 0 0 0 0 2h1v1a1 1 0 0 0 2 0v-1h1a1 1 0 0 0 0-2Zm-7.7 1.72A4.92 4.92 0 0 0 15 8.5a5 5 0 0 0-10 0 4.92 4.92 0 0 0 1.7 3.72A8 8 0 0 0 2 19.5a1 1 0 0 0 2 0 6 6 0 0 1 12 0 1 1 0 0 0 2 0 8 8 0 0 0-4.7-7.28ZM10 11.5a3 3 0 1 1 3-3 3 3 0 0 1-3 3Z"
												fill="#365cf5" class="fill-6563ff"></path>
										</svg>
									</a>

									<p
										th:if="${item.staff_id != null || staffCheck == 0 || item.status == 'reviewing'}">
										None
									</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</main>

	<script src="../../back/js/bootstrap.bundle.min.js"></script>
	<script src="../../back/js/Chart.min.js"></script>
	<script src="../../back/js/dynamic-pie-chart.js"></script>
	<script src="../../back/js/moment.min.js"></script>
	<script src="../../back/js/fullcalendar.js"></script>
	<script src="../../back/js/jvectormap.min.js"></script>
	<script src="../../back/js/world-merc.js"></script>
	<script src="../../back/js/polyfill.js"></script>
	<script src="../../back/js/main.js"></script>
</body>

</html>