<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="Cleanex - Home Cleaning Service" name="keywords" />
	<meta content="Cleanex - Home Cleaning Service" name="description" />

	<title>Cleanex - Account</title>

	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap" rel="stylesheet" />
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />

	<link href="../front/img/favicon.ico" rel="icon" />
	<link href="../front/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
	<link href="../front/lib/lightbox/css/lightbox.min.css" rel="stylesheet" />
	<link href="../front/css/style.css" rel="stylesheet" />

</head>

<body>
	<div id="preloader">
		<div class="spinner"></div>
	</div>

	<!-- Header -->
	<div th:replace="~{user/fragments/header::userHeader}"></div>

	<div class="wrapper">
		<div class="acc-container mt-3">
			<div class="row">
				<div class="col-3 text-center">
					<img th:if="${user.image == null}" src="../front/img/none-user.png"
						class="img-fluid rounded-circle mb-3" width="150" height="150" />
					<img th:unless="${user.image == null}" th:src="'/upload/' + ${user.image}"
						class="img-fluid rounded-circle mb-3" width="150" height="150" />
					<h3 th:text="${user.fullname}"></h3>
					<a class="btn btn-primary mt-3" th:href="@{/user/editProfile}">Edit Profile</a>
				</div>
				<div class="col-9">
					<h2 class="mb-4">Profile</h2>
					<dl class="row">
						<dt class="col-3">Username:</dt>
						<dd class="col-9" th:text="${user.username}"></dd>
						<dt class="col-3">Email:</dt>
						<dd class="col-9" th:text="${user.email}"></dd>
						<dt class="col-3">Phone:</dt>
						<dd class="col-9" th:text="${user.phone}"></dd>
						<dt class="col-3">Address:</dt>
						<dd class="col-9" th:text="${user.address}"></dd>
					</dl>
				</div>
			</div>
		</div>

		<div class="acc-container mt-5">
			<div class="account-content">
				<h2 class="mb-4">Order History</h2>
				<div class="table-container">
					<table class="booking-table">
						<thead>
							<tr>
								<th>No.</th>
								<th>Service Name</th>
								<th>Price</th>
								<th>Expected Start Date</th>
								<th>Status</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody th:each="item: ${orderDetails}" th:if="${item != null}">
							<tr>
								<td th:text="${item.id}"></td>
								<td th:text="${item.serName}"></td>
								<td th:text="${item.price} + '$'"></td>
								<td th:text="${item.startDate}"></td>
								<td th:text="${item.completeDate}" th:if="${item.status == 'completed'}"></td>
								<td th:text="${item.status}"></td>
								<td>
									<a th:href="@{/user/orderDetails(id=${item.id})}" class="btn btn-outline-info"
										style="text-align: center; font-weight: 700;">See More
									</a>
								</td>
							</tr>
							<tr>
								<!--<a th:if="${item.size() > 5}" th:href="@{/user/orderDetails}"
									class="btn btn-outline-info" style="text-align: center; font-weight: 700;">Browse
									More
								</a>-->
							</tr>
							<tr th:if="${item == null}">
								<p colspan="6" style="text-align: center; font-weight: 700;">
									You have not booked any service yet.
								</p>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<div th:replace="~{user/fragments/footer::userFooter}"></div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

	<script src="../front/lib/easing/easing.min.js"></script>
	<script src="../front/lib/owlcarousel/owl.carousel.min.js"></script>
	<script src="../front/lib/isotope/isotope.pkgd.min.js"></script>
	<script src="../front/lib/lightbox/js/lightbox.min.js"></script>
	<script src="../front/js/main.js"></script>
</body>

</html>