<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<title>Cleanex - Login</title>

	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet" />
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

	<link href="../front/img/favicon.ico" rel="icon" />
	<link href="../front/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
	<link href="../front/lib/lightbox/css/lightbox.min.css" rel="stylesheet" />
	<link href="../front/css/style.css" rel="stylesheet" />
</head>

<body>
	<!-- Header -->
	<div th:replace="~{user/fragments/header::userHeader}"></div>

	<div class="login-container">
		<div class="form-container">
			<h2 class="mb-4">Welcome Back</h2>
			<div th:if="${loginError}" class="error-message" th:text="${loginError}"></div>
			<form th:action="@{/user/checkLogin}" method="post">
				<div class="input-form">
					<div class="mb-2">
						<label for="username">Username <span style="color: red;">(*)</span></label>
						<input type="text" id="username" name="usrname" placeholder="Enter your username:" required>
					</div>
					<div class="mb-2">
						<label for="password">Password <span style="color: red;">(*)</span></label>
						<input type="password" id="password" name="pw" placeholder="Enter your password:" required>
					</div>
				</div>
				<button type="submit" class="btn-primary">Login</button>

				<div class="row">
					<div class="col-6">
						<a class="acc-link" th:href="@{/user/forgotPassword}">Forgot Password?</a>
					</div>
					<div class="col-6 d-flex justify-content-end">
						<a class="acc-link" th:href="@{/user/signup}">Don't have an account?</a>
					</div>
				</div>

			</form>
		</div>
	</div>

	<!-- BACK TO TOP -->
	<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

	<!-- Footer -->
	<div th:replace="~{user/fragments/footer::userFooter}"></div>

	<script>
		setTimeout(function () {
			document.querySelector('.error-message').innerText = '';
		}, 6000);
	</script>
</body>

</html>