<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<title>Cleanex - Order Details</title>

	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet" />
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

	<link href="../../front/img/favicon.ico" rel="icon" />
	<link href="../../front/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
	<link href="../../front/lib/lightbox/css/lightbox.min.css" rel="stylesheet" />
	<link href="../../front/css/style.css" rel="stylesheet" />

</head>

<body>
	<!-- Header -->
	<div th:replace="~{user/fragments/header::userHeader}"></div>

	<div class="mx-3">
		<div th:unless="${#lists.isEmpty(orderDetails)}" class="section-header mb-5">
			<h2>Order Details</h2>
		</div>

		<div th:if="${#lists.isEmpty(orderDetails)}" class="section-header mb-5">
			<h2>Something went wrong, please try again later.</h2>
		</div>

		<div th:unless="${#lists.isEmpty(orderDetails)}" class="table-container">
			<div th:if="${error}" th:text="${error}" style="color: red; font-weight: 500;"></div>
			<table class="booking-table">
				<thead>
					<tr>
						<th>Service</th>
						<th>Dealed Price</th>
						<th>Dealed Start Date</th>
						<th>Complete Date</th>
						<th>Before Image</th>
						<th>After Image</th>
						<th>Status</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${orderDetails}">
						<td th:text="${item.service_name}"></td>
						<td th:text="${#numbers.formatInteger(item.price, 0, 'COMMA') + ' vnd'}"></td>
						<td th:text="${item.start_date != null ? #dates.format(item.start_date, 'yyyy-MM-dd') : 'N/A'}">
						</td>
						<td
							th:text="${item.complete_date != null ? #dates.format(item.complete_date, 'yyyy-MM-dd') : 'N/A'}">
						</td>
						<td>
							<img loading="lazy" th:src="'/upload/'+${item.beforeImage}" alt="Before"
								th:if="${item.status == 'verifying'}" />
							<p style="margin-top: 15px;" th:if="${item.status != 'verifying'}">N/A</p>
						</td>
						<td>
							<img loading="lazy" th:src="'/upload/'+${item.afterImage}" alt="After"
								th:if="${item.status == 'verifying'}" />
							<p style="margin-top: 15px;" th:if="${item.status != 'verifying'}">N/A</p>
						</td>
						<td th:text="${item.status}"></td>
						<td>
							<a class="btn btn-success" th:if="${item.status == 'verifying'}"
								th:href="@{/user/banking(id=${item.id})}">Pay</a>
							<a class="btn btn-danger" th:if="${item.status == 'verifying'}"
								th:href="@{/user/orderDecline(id=${item.id})}">Decline</a>
							<p style="margin-top: 15px;"
								th:if="${item.status != 'verifying' || item.status != 'confirmed' && item.status == 'completed'}">
								None
							</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- BACK TO TOP -->
	<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

	<!-- Footer -->
	<div th:replace="~{user/fragments/footer::userFooter}"></div>

	<script src="../../front/lib/easing/easing.min.js"></script>
	<script src="../../front/lib/owlcarousel/owl.carousel.min.js"></script>
	<script src="../../front/lib/isotope/isotope.pkgd.min.js"></script>
	<script src="../../front/lib/lightbox/js/lightbox.min.js"></script>
	<script src="../../front/js/main.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<script>

	</script>
</body>

</html>