<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="Cleanex - Home Cleaning Service" name="keywords" />
	<meta content="Cleanex - Home Cleaning Service" name="description" />

	<title>Cleanex - Order Details</title>

	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap" rel="stylesheet" />
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />

	<link href="../../front/img/favicon.ico" rel="icon" />
	<link href="../../front/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
	<link href="../../front/lib/lightbox/css/lightbox.min.css" rel="stylesheet" />
	<link href="../../front/css/style.css" rel="stylesheet" />

</head>

<body>
	<div id="preloader">
		<div class="spinner"></div>
	</div>

	<!-- Header -->
	<div th:replace="~{user/fragments/header::userHeader}"></div>

	<div class="wrapper">
		<div class="section-header mb-5">
			<h2>Order Details</h2>
		</div>

		<div th:if="${#lists.isEmpty(orderDetails)}" class="text-center mt-5">
			<p>Something went wrong, please try again later.</p>
		</div>

		<div th:unless="${#lists.isEmpty(orderDetails)}">
			<div th:if="${error}" th:text="${error}" style="color: red; font-weight: 500;"></div>
			<table class="booking-table">
				<thead>
					<tr>
						<th>No.</th>
						<th>Service</th>
						<th>Price</th>
						<th>Started Date</th>
						<th>Completed Date</th>
						<th>Before</th>
						<th>After</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${orderDetails}">
						<td th:text="${item.id}"></td>
						<td th:text="${item.service_name}"></td>
						<td th:text="${item.price + '$'}"></td>
						<td th:text="${#dates.format(item.start_date, 'yyyy-MM-dd')}"></td>
						<td
							th:text="${item.complete_date != null ? #dates.format(item.complete_date, 'yyyy-MM-dd') : 'N/A'}">
						</td>

						<td>
							<img loading="lazy" th:if="${item.before_image != null}"
								th:src="'/upload/'+${item.before_image}" width="50" height="50" alt="Before" />
							<p th:if="${item.before_image != null}">N/A</p>
						</td>
						<td>
							<img loading="lazy" th:if="${item.after_image != null}"
								th:src="'/upload/'+${item.after_image}" width="50" height="50" alt="After" />
							<p th:if="${item.after_image != null}">N/A</p>
						</td>
						<td th:text="${item.status}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- Footer -->
	<div th:replace="~{user/fragments/footer::userFooter}"></div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

	<script src="../../front/lib/easing/easing.min.js"></script>
	<script src="../../front/lib/owlcarousel/owl.carousel.min.js"></script>
	<script src="../../front/lib/isotope/isotope.pkgd.min.js"></script>
	<script src="../../front/lib/lightbox/js/lightbox.min.js"></script>
	<script src="../../front/js/main.js"></script>
</body>

</html>