<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="Cleanex - Home Cleaning Service" name="keywords" />
	<meta content="Cleanex - Home Cleaning Service" name="description" />

	<title>Cleanex - Confirm your Orders</title>

	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap" rel="stylesheet" />
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />

	<link href="../front/img/favicon.ico" rel="icon" />
	<link href="../front/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
	<link href="../front/lib/lightbox/css/lightbox.min.css" rel="stylesheet" />
	<link href="../front/css/style.css" rel="stylesheet" />

	<style>
		.table td {
			vertical-align: middle;
		}

		.startDate {
			margin-left: 15px;
			border: 1px solid #dee2e6;
			border-radius: 5px;
			height: 2rem;
			width: 12rem;
		}
	</style>
</head>

<body>
	<div id="preloader">
		<div class="spinner"></div>
	</div>

	<!-- Header -->
	<div th:replace="~{user/fragments/header::userHeader}"></div>

	<div class="wrapper">
		<div class="mx-2 my-5">
			<h1 class="mb-4">Confirm your Orders</h1>
			<form th:action="@{/user/confirmOrder}" method="post">
				<div class="mb-5 table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>No.</th>
								<th>Service Name</th>
								<th>Base Price</th>
								<th>Start Date</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="item : ${orders}">
								<td th:text="${item.id}"></td>
								<td th:text="${item.serName}"></td>
								<td th:text="${item.basePrice} + '$'"></td>
								<td th:text="${#dates.format(item.startDate, 'yyyy-MM-dd')}"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="d-flex justify-content-between">
					<button type="submit" class="btn btn-success">Confirm Order</button>
				</div>
			</form>
		</div>
	</div>


	<!-- Footer -->
	<div th:replace="~{user/fragments/footer::userFooter}"></div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

	<script src="../front/lib/easing/easing.min.js"></script>
	<script src="../front/lib/owlcarousel/owl.carousel.min.js"></script>
	<script src="../front/lib/isotope/isotope.pkgd.min.js"></script>
	<script src="../front/lib/lightbox/js/lightbox.min.js"></script>
	<script src="../front/js/main.js"></script>

</body>

</html>