<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<title>Cleanex - Order Details</title>

	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet" />
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

	<link href="../front/img/favicon.ico" rel="icon" />
	<link href="../front/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
	<link href="../front/lib/lightbox/css/lightbox.min.css" rel="stylesheet" />
	<link href="../front/css/style.css" rel="stylesheet" />
</head>

<body>
	<!-- Header -->
	<div th:replace="~{user/fragments/header::userHeader}"></div>

	<div class="mx-3">
		<div th:unless="${#lists.isEmpty(seeMore)}" class="section-header mb-5">
			<h2>Order Details</h2>
		</div>

		<div th:if="${#lists.isEmpty(seeMore)}" class="section-header mb-5">
			<h2>Something went wrong, please try again later</h2>
		</div>

		<div th:unless="${#lists.isEmpty(seeMore)}">
			<div th:if="${error}" th:text="${error}" style="color: red; font-weight: 500;"></div>
			<table class="booking-table">
				<thead>
					<tr>
						<th>No.</th>
						<th>Service</th>
						<th>Base Price</th>
						<th>Confirmed Price</th>
						<th>Start Date</th>
						<th>Completed Date</th>
						<th>Before</th>
						<th>After</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${seeMore}">
						<td th:text="${item.id}"></td>
						<td th:text="${item.service_name}"></td>
						<td th:text="${item.base_price + '$'}"></td>
						<td th:text="${item.price}"></td>
						<td th:text="${#dates.format(item.start_date, 'yyyy-MM-dd')}"></td>
						<td
							th:text="${item.complete_date != null ? #dates.format(item.complete_date, 'yyyy-MM-dd') : 'N/A'}">
						</td>

						<td>
							<img loading="lazy" th:if="${item.before_image != null}"
								th:src="'/upload/'+${item.before_image}" width="50" height="50" alt="Before" />
							<p th:if="${item.before_image != null}">N/A</p>
						</td>
						<td>
							<img loading="lazy" th:if="${item.after_image != null}"
								th:src="'/upload/'+${item.after_image}" width="50" height="50" alt="After" />
							<p th:if="${item.after_image != null}">N/A</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- BACK TO TOP -->
	<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

	<!-- Footer -->
	<div th:replace="~{user/fragments/footer::userFooter}"></div>
</body>

</html>