<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<title>Cleanex - Verify OTP</title>

	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet" />
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

	<link href="../front/img/favicon.ico" rel="icon" />
	<link href="../front/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
	<link href="../front/lib/lightbox/css/lightbox.min.css" rel="stylesheet" />
	<link href="../front/css/style.css" rel="stylesheet" />
</head>

<body>
	<!-- Header -->
	<div th:replace="~{user/fragments/header::userHeader}"></div>

	<div class="acc-container mx-5">
		<h2 class="mb-4">Enter your OTP</h2>
		<form th:action="@{/user/verification}" method="post">
			<div th:if="${error}" class="error-message" th:text="${error}"></div>
			<div class="mb-3">
				<input class="form-control" placeholder="Enter your OTP:" type="text" id="otp" name="otp" maxlength="4"
					oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 4);" required />
			</div>
			<div class="row">
				<div class="col-6">
					<a class="btn btn-warning" th:href="@{/user/resendOtp}" id="resend">Resend OTP</a>
				</div>
				<div class="col-6 d-flex justify-content-end">
					<button class="btn btn-success" type="submit">Submit</button>
				</div>
			</div>
		</form>
	</div>

	<!-- BACK TO TOP -->
	<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

	<!-- Footer -->
	<div th:replace="~{user/fragments/footer::userFooter}"></div>
</body>

</html>