<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />

	<title>Admin - Blog Management</title>

	<link rel="stylesheet" href="../../back/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../../back/css/lineicons.css" />
	<link rel="stylesheet" href="../../back/css/materialdesignicons.min.css" />
	<link rel="stylesheet" href="../../back/css/fullcalendar.css" />
	<link rel="stylesheet" href="../../back/css/main.css" />

	<style>
		.table thead tr th,
		.table tbody tr td {
			text-align: center !important;

			@media(max-width: 768px) {
				font-size: 12px;
				padding: 0 5px;
			}
		}

		.table tbody tr td img {
			width: 80px;
			height: 100px;
			object-fit: cover;

			@media(max-width: 768px) {
				width: 40px;
				height: 50px;
			}
		}

		.table tbody tr td img:hover {
			scale: calc(2);
		}

		.table tbody tr td a {
			transition: 0.25s;

			@media(max-width: 768px) {
				scale: calc(0.75);
			}
		}

		.form-inline {
			display: inline-block;
		}
	</style>
</head>

<body>
	<!-- ASIDE -->
	<aside class="sidebar-nav-wrapper" th:replace="~{admin/fragment/aside::adminAside}"></aside>

	<div class="overlay"></div>
	<main class="main-wrapper">

		<!-- HEADER -->
		<header th:replace="~{admin/fragment/header::adminHeader}"></header>

		<div class="mx-3 mt-5">
			<div class="d-flex">
				<h2 class="flex-grow-1">Blog List</h2>
				<div>
					<a class="btn btn-primary changeSize" th:href="@{/admin/blogs/create}">Write a blog</a>
					<a class="svg-icon" th:href="@{/admin/blogs/create}">
						<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2Zm0 18a8 8 0 1 1 8-8 8 8 0 0 1-8 8Zm4-9h-3V8a1 1 0 0 0-2 0v3H8a1 1 0 0 0 0 2h3v3a1 1 0 0 0 2 0v-3h3a1 1 0 0 0 0-2Z"
								fill="#365cf5" class="fill-6563ff"></path>
						</svg>
					</a>
				</div>
			</div>
			<div class="table-responsive mt-4">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>No.</th>
							<th>Image</th>
							<th>Title</th>
							<th>Content</th>
							<th>Created Date</th>
							<th>Updated Date</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item : ${blogs}">
							<td th:text="${item.id}"></td>
							<td>
								<img th:if="${item.image != null}" th:src="'/upload/'+ ${item.image}" />
								<img th:unless="${item.image != null}" th:src="'../../front/img/no-service.png'" />
							</td>
							<td th:text="${item.title}"></td>
							<td>
								<button type="button" data-bs-toggle="popover" title="Content"
									class="btn btn-outline-info changeSize" th:data-bs-content="${item.content}">
									Show Content
								</button>
								<button data-bs-toggle="popover" title="Content" th:data-bs-content="${item.content}"
									class="svg-icon">
									<svg data-name="Layer 1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
										<path
											d="M12 2a10 10 0 1 0 10 10A10.011 10.011 0 0 0 12 2Zm0 18a8 8 0 1 1 8-8 8.01 8.01 0 0 1-8 8Zm0-8.5a1 1 0 0 0-1 1v3a1 1 0 0 0 2 0v-3a1 1 0 0 0-1-1Zm0-4a1.25 1.25 0 1 0 1.25 1.25A1.25 1.25 0 0 0 12 7.5Z"
											fill="#56d7f5" class="fill-6563ff"></path>
									</svg>
								</button>
							</td>

							<td th:text="${item.createDate != null ? item.createDate : 'N/A'}"></td>
							<td th:text="${item.updateDate != null ? item.updateDate : 'N/A'}"></td>
							<td>
								<a class="btn btn-warning" th:href="@{/admin/blogs/edit(id=${item.id})}">Edit</a>
								<a class="btn btn-danger" th:href="@{/admin/blogs/delete(id=${item.id})}">Delete</a>
							</td>
						</tr>
					</tbody>
				</table>
				<nav class="mt-5" th:if="${pv.totalPage > 1}">
					<ul class="pagination justify-content-center">
						<li class="page-item" th:classappend="${pv.pageCurrent == 1} ? 'disabled'">
							<a class="page-link" th:href="@{/admin/blogs/list(cp=${pv.pageCurrent - 1})}">Previous</a>
						</li>
						<li class="page-item" th:each="page : ${#numbers.sequence(1, pv.totalPage)}"
							th:classappend="${page == pv.pageCurrent} ? 'active'">
							<a class="page-link" th:href="@{/admin/blogs/list(cp=${page})}" th:text="${page}"></a>
						</li>
						<li class="page-item" th:classappend="${pv.pageCurrent == pv.totalPage} ? 'disabled'">
							<a class="page-link" th:href="@{/admin/blogs/list(cp=${pv.pageCurrent + 1})}">Next</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</main>

	<script src="../../back/js/bootstrap.bundle.min.js"></script>
	<script src="../../back/js/Chart.min.js"></script>
	<script src="../../back/js/dynamic-pie-chart.js"></script>
	<script src="../../back/js/moment.min.js"></script>
	<script src="../../back/js/fullcalendar.js"></script>
	<script src="../../back/js/jvectormap.min.js"></script>
	<script src="../../back/js/world-merc.js"></script>
	<script src="../../back/js/polyfill.js"></script>
	<script src="../../back/js/main.js"></script>

</body>

</html>