<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />

	<title>Admin - Orders Management</title>

	<link rel="stylesheet" href="../../back/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../../back/css/lineicons.css" />
	<link rel="stylesheet" href="../../back/css/materialdesignicons.min.css" />
	<link rel="stylesheet" href="../../back/css/fullcalendar.css" />
	<link rel="stylesheet" href="../../back/css/main.css" />

	<style>
		.table thead tr th,
		.table tbody tr td {
			text-align: center !important;

			@media(max-width: 768px) {
				font-size: 12px;
			}
		}

		.table tbody tr td img {
			width: 80px;
			height: 100px;

			@media(max-width: 768px) {
				width: 40px;
				height: 50px;
			}
		}

		.table tbody tr td a,
		.table tbody tr td button {
			transition: 0.25s;

			@media(max-width: 768px) {
				scale: calc(0.75);
			}
		}
	</style>
</head>

<body>
	<!-- ASIDE -->
	<aside class="sidebar-nav-wrapper" th:replace="~{admin/fragment/aside::adminAside}"></aside>

	<div class="overlay"></div>
	<main class="main-wrapper">

		<!-- HEADER -->
		<header th:replace="~{admin/fragment/header::adminHeader}"></header>
		<div class="mx-3 mt-5">
			<div class="d-flex row">
				<h2 class="flex-grow-1 col-lg-6 col-md-12 col-sm-12 mb-3">Order List</h2>
				<div class="col-lg-6 col-md-12 col-sm-12">
					<form th:action="@{/admin/orders/list}" method="get" class="d-flex">
						<input type="text" name="search" class="form-control me-2" placeholder="Search..."
							th:value="${search}">
						<button type="submit" class="btn btn-primary">Search</button>
					</form>
				</div>
			</div>
			<div class="table-responsive border-1">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>No.</th>
							<th>Order By</th>
							<th>Phone</th>
							<th>Price</th>
							<th>Start Date</th>
							<th>Status</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item : ${orders}">
							<td th:text="${item.id}"></td>

							<td>
								<button type="button" data-bs-toggle="popover" title="Name" class="btn btn-outline-info"
									th:data-bs-content="${item.fullname}">Name
								</button>
							</td>

							<td th:text="${item.phone}"></td>
							<td th:text="${#numbers.formatInteger(item.price, 0, 'COMMA') + ' vnd'}"></td>

							<td>
								<button type="button" data-bs-toggle="popover" title="Start Date"
									class="btn btn-outline-info changeSize"
									th:data-bs-content="${#dates.format(item.create_date, 'dd-MM-yyyy')}">
									Date
								</button>
								<button class="svg-icon" type="button" data-bs-toggle="popover" title="Start Date"
									th:data-bs-content="${#dates.format(item.create_date, 'dd-MM-yyyy')}">
									<svg data-name="Layer 1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
										<path
											d="M12 19a1 1 0 1 0-1-1 1 1 0 0 0 1 1Zm5 0a1 1 0 1 0-1-1 1 1 0 0 0 1 1Zm0-4a1 1 0 1 0-1-1 1 1 0 0 0 1 1Zm-5 0a1 1 0 1 0-1-1 1 1 0 0 0 1 1Zm7-12h-1V2a1 1 0 0 0-2 0v1H8V2a1 1 0 0 0-2 0v1H5a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V6a3 3 0 0 0-3-3Zm1 17a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-9h16Zm0-11H4V6a1 1 0 0 1 1-1h1v1a1 1 0 0 0 2 0V5h8v1a1 1 0 0 0 2 0V5h1a1 1 0 0 1 1 1ZM7 15a1 1 0 1 0-1-1 1 1 0 0 0 1 1Zm0 4a1 1 0 1 0-1-1 1 1 0 0 0 1 1Z"
											fill="#56d7f5" class="fill-6563ff"></path>
									</svg>
								</button>
							</td>

							<td th:text="${item.status}"></td>

							<td>
								<a class="btn btn-success" th:href="@{/admin/orders/assignStaff(id=${item.id})}"
									th:if="${item.hasAssignedStaff == 0 && staffs?.size() > 0}">Assign</a>

								<a th:if="${(item.status == 'pending' || item.status == 'confirmed') && item.hasAssignedStaff == 1}"
									class="btn btn-warning" th:href="@{/admin/orders/replaceStaff(id=${item.id})}">
									Replace
								</a>
								<p th:if="${!( (item.hasAssignedStaff == 0 && staffs?.size() > 0) || ((item.status == 'pending' || 
									item.status == 'confirmed') && item.hasAssignedStaff == 1) )}">None
								</p>
							</td>
						</tr>
					</tbody>
				</table>
				<nav class="mt-5" th:if="${pv.totalPage > 1}">
					<ul class="pagination justify-content-center">
						<li class="page-item" th:classappend="${pv.pageCurrent == 1} ? 'disabled'">
							<a class="page-link" th:href="@{/admin/orders/list(cp=${pv.pageCurrent - 1})}">Previous</a>
						</li>
						<li class="page-item" th:each="page : ${#numbers.sequence(1, pv.totalPage)}"
							th:classappend="${page == pv.pageCurrent} ? 'active'">
							<a class="page-link" th:href="@{/admin/orders/list(cp=${page})}" th:text="${page}"></a>
						</li>
						<li class="page-item" th:classappend="${pv.pageCurrent == pv.totalPage} ? 'disabled'">
							<a class="page-link" th:href="@{/admin/orders/list(cp=${pv.pageCurrent + 1})}">Next</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</main>

	<script src="../../back/js/bootstrap.bundle.min.js"></script>
	<script src="../../back/js/Chart.min.js"></script>
	<script src="../../back/js/dynamic-pie-chart.js"></script>
	<script src="../../back/js/moment.min.js"></script>
	<script src="../../back/js/fullcalendar.js"></script>
	<script src="../../back/js/jvectormap.min.js"></script>
	<script src="../../back/js/world-merc.js"></script>
	<script src="../../back/js/polyfill.js"></script>
	<script src="../../back/js/main.js"></script>
</body>

</html>