<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />

	<title>Cleanex - Orders Management</title>

	<link rel="stylesheet" href="../../back/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../../back/css/lineicons.css" />
	<link rel="stylesheet" href="../../back/css/materialdesignicons.min.css" />
	<link rel="stylesheet" href="../../back/css/fullcalendar.css" />
	<link rel="stylesheet" href="../../back/css/main.css" />

	<style>
		.table thead tr th,
		.table tbody tr td {
			text-align: center !important;

			@media(max-width: 768px) {
				font-size: 12px;
			}
		}

		.table tbody tr td img {
			width: 80px;
			height: 100px;

			@media(max-width: 768px) {
				width: 40px;
				height: 50px;
			}
		}

		.table tbody tr td svg {
			@media(max-width: 768px) {
				height: 24px;
				width: 24px;
			}
		}

		.form-inline {
			display: inline-block;
		}
	</style>
</head>

<body>
	<!-- ASIDE -->
	<aside class="sidebar-nav-wrapper" th:replace="~{admin/fragment/aside::adminAside}"></aside>

	<div class="overlay"></div>
	<main class="main-wrapper">

		<!-- HEADER -->
		<header th:replace="~{admin/fragment/header::adminHeader}"></header>
		<div class="mx-3 mt-5">
			<div class="col-12">
				<h2 class="mb-4">Order List</h2>
				<div class="table-responsive border-1">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>No.</th>
								<th>Order By</th>
								<th>Price</th>
								<th>Expected Start Date</th>
								<th>Staff required</th>
								<th>Status</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="item : ${orders}">
								<td th:text="${item.id}"></td>
								<td th:text="${item.fullname}"></td>
								<td th:text="${item.price + '$'}"></td>
								<td th:text="${#dates.format(item.start_date, 'dd-MM-yyyy')}"></td>
								<td th:text="${item.staff_required}"></td>

								<td th:text="${item.status}"></td>
								<td>
									<a class="btn btn-success changeSize"
										th:href="@{/admin/orders/assignStaff(id=${item.id})}"
										th:if="${item.hasAssignedStaff == 0 && staffs?.size() > 0}">Assign Staff</a>
									<a class="svg-icon" th:href="@{/admin/orders/assignStaff(id=${item.id})}"
										th:if="${item.hasAssignedStaff == 0 && staffs?.size() > 0}">
										<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
											<path
												d="M21 10.5h-1v-1a1 1 0 0 0-2 0v1h-1a1 1 0 0 0 0 2h1v1a1 1 0 0 0 2 0v-1h1a1 1 0 0 0 0-2Zm-7.7 1.72A4.92 4.92 0 0 0 15 8.5a5 5 0 0 0-10 0 4.92 4.92 0 0 0 1.7 3.72A8 8 0 0 0 2 19.5a1 1 0 0 0 2 0 6 6 0 0 1 12 0 1 1 0 0 0 2 0 8 8 0 0 0-4.7-7.28ZM10 11.5a3 3 0 1 1 3-3 3 3 0 0 1-3 3Z"
												fill="#365cf5" class="fill-6563ff"></path>
										</svg>
									</a>

									<a th:if="${(item.status == 'pending' || item.status == 'confirmed') && item.hasAssignedStaff == 1}"
										class="btn btn-warning changeSize"
										th:href="@{/admin/orders/replaceStaff(id=${item.id})}">Replace Staff
									</a>
									<a th:if="${(item.status == 'pending' || item.status == 'confirmed') && item.hasAssignedStaff == 1}"
										class="svg-icon" th:href="@{/admin/orders/replaceStaff(id=${item.id})}">
										<svg data-name="Layer 1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
											<path
												d="M20.64 15.772a3.468 3.468 0 0 0 .86-2.272 3.5 3.5 0 0 0-7 0 3.468 3.468 0 0 0 .86 2.272A4.988 4.988 0 0 0 13 20a1 1 0 0 0 2 0 3 3 0 0 1 6 0 1 1 0 0 0 2 0 4.988 4.988 0 0 0-2.36-4.228ZM18 15a1.5 1.5 0 1 1 1.5-1.5A1.502 1.502 0 0 1 18 15ZM6.793 7.707l2 2a1 1 0 0 0 1.414-1.414L9.914 8h4.172l-.293.293a1 1 0 1 0 1.414 1.414l2-2a1.004 1.004 0 0 0 0-1.414l-2-2a1 1 0 0 0-1.414 1.414l.293.293H9.914l.293-.293a1 1 0 0 0-1.414-1.414l-2 2a1.004 1.004 0 0 0 0 1.414Zm1.847 8.065A3.468 3.468 0 0 0 9.5 13.5a3.5 3.5 0 0 0-7 0 3.468 3.468 0 0 0 .86 2.272A4.988 4.988 0 0 0 1 20a1 1 0 0 0 2 0 3 3 0 0 1 6 0 1 1 0 0 0 2 0 4.988 4.988 0 0 0-2.36-4.228ZM6 15a1.5 1.5 0 1 1 1.5-1.5A1.502 1.502 0 0 1 6 15Z"
												fill="#ffc107" class="fill-6563ff"></path>
										</svg>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
					<nav class="mt-5" th:if="${pv.totalPage > 1}">
						<ul class="pagination justify-content-center">
							<li class="page-item" th:classappend="${pv.pageCurrent == 1} ? 'disabled'">
								<a class="page-link"
									th:href="@{/admin/orders/list(cp=${pv.pageCurrent - 1})}">Previous</a>
							</li>
							<li class="page-item" th:each="page : ${#numbers.sequence(1, pv.totalPage)}"
								th:classappend="${page == pv.pageCurrent} ? 'active'">
								<a class="page-link" th:href="@{/admin/orders/list(cp=${page})}"
									th:text="${page}"></a>
							</li>
							<li class="page-item" th:classappend="${pv.pageCurrent == pv.totalPage} ? 'disabled'">
								<a class="page-link"
									th:href="@{/admin/orders/list(cp=${pv.pageCurrent + 1})}">Next</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</main>

	<script src="../../back/js/bootstrap.bundle.min.js"></script>
	<script src="../../back/js/Chart.min.js"></script>
	<script src="../../back/js/dynamic-pie-chart.js"></script>
	<script src="../../back/js/moment.min.js"></script>
	<script src="../../back/js/fullcalendar.js"></script>
	<script src="../../back/js/jvectormap.min.js"></script>
	<script src="../../back/js/world-merc.js"></script>
	<script src="../../back/js/polyfill.js"></script>
	<script src="../../back/js/main.js"></script>
</body>

</html>