<aside class="sidebar-nav-wrapper" th:fragment="staffAside">
	<div class="navbar-logo">
		<a th:href="@{/staff}">
			<h2>Cleanex</h2>
		</a>
	</div>
	<nav class="sidebar-nav">
		<ul>
			<li class="nav-item">
				<a th:href="@{/staff}">
					<span class="icon">
						<svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"
							fill="#e8eaed">
							<path
								d="M520-600v-240h320v240H520ZM120-440v-400h320v400H120Zm400 320v-400h320v400H520Zm-400 0v-240h320v240H120Zm80-400h160v-240H200v240Zm400 320h160v-240H600v240Zm0-480h160v-80H600v80ZM200-200h160v-80H200v80Zm160-320Zm240-160Zm0 240ZM360-280Z" />
						</svg>
					</span>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li class="nav-item nav-item-has-children">
				<a href="#0" class="collapsed" data-bs-toggle="collapse" data-bs-target="#ddmenu_1"
					aria-controls="ddmenu_1" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon">
						<svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"
							fill="#e8eaed">
							<path
								d="M192-192v-480l-76-161 65-31 91 192h416l91-192 65 30-76 162v480H192Zm228-264h120q15.3 0 25.65-10.29Q576-476.58 576-491.79t-10.35-25.71Q555.3-528 540-528H420q-15.3 0-25.65 10.29Q384-507.42 384-492.21t10.35 25.71Q404.7-456 420-456ZM264-264h432v-336H264v336Zm0 0v-336 336Z" />
						</svg>
					</span>
					<span class="text">To Do List</span>
				</a>
				<ul id="ddmenu_1" class="collapse dropdown-nav">
					<li>
						<a th:href="@{/staff/request/list}"> List of request </a>
					</li>
					<li>
						<a th:href="@{/staff/order/list}"> List of order </a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</aside>