<div class="footer" th:fragment="userFooter">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-lg-4">
				<div class="footer-contact">
					<h2>Get In Touch</h2>
					<p><i class="fa fa-map-marker-alt"></i>No. 35, D5 Street, 25 Ward, Binh Thanh District, Ho Chi Minh
						City.</p>
					<p><i class="fa fa-phone-alt"></i>+012 345 67890</p>
					<p><i class="fa fa-envelope"></i>cleanex@gmail.com</p>
				</div>
			</div>
			<div class="col-md-4 col-lg-4">
				<div class="footer-link">
					<h2>Useful Links</h2>
					<a th:href="@{/service}">Service</a>
					<a th:href="@{/blog}">Blog</a>
					<a th:href="@{/about}">About Us</a>
				</div>
			</div>
			<div class="col-md-4 col-lg-4">
				<div class="footer-link">
					<h2>Useful Links</h2>
					<a th:href="@{/contact}">Contact Us</a>
					<a th:href="@{/contact}">FAQs</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container footer-menu">
		<div class="f-menu">
			<a href="">Terms of use</a>
			<a href="">Privacy policy</a>
			<a href="">Cookies</a>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<script src="../front/lib/easing/easing.min.js"></script>
	<script src="../front/lib/owlcarousel/owl.carousel.min.js"></script>
	<script src="../front/lib/isotope/isotope.pkgd.min.js"></script>
	<script src="../front/lib/lightbox/js/lightbox.min.js"></script>
	<script src="../front/js/main.js"></script>
</div>