<div class="header home" th:fragment="userHeader">
	<div id="preloader">
		<div class="spinner"></div>
	</div>
	<div class="container-fluid">
		<div class="header-top row align-items-center">
			<div class="col-lg-3">
				<div class="brand">
					<a th:href="@{/}">Cleanex</a>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="topbar">
					<div class="topbar-col">
						<a href="tel:+012 345 67890"><i class="fa fa-phone-alt"></i>+012 345 67890</a>
					</div>
					<div class="topbar-col">
						<a href="mailto:cleanex@gmail.com"><i class="fa fa-envelope"></i>cleanex@gmail.com</a>
					</div>
				</div>
				<div class="navbar navbar-expand-lg bg-light navbar-light">
					<a href="#" class="navbar-brand">MENU</a>
					<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
						<div class="navbar-nav ml-auto">
							<a class="nav-item nav-link" th:href="@{/}">Home</a>
							<a class="nav-item nav-link" th:href="@{/service}">Service</a>
							<a class="nav-item nav-link" th:href="@{/blog}">Blog</a>
							<a class="nav-item nav-link" th:href="@{/about}">About</a>
							<a class="nav-item nav-link" th:href="@{/contact}">Contact</a>

							<a class="nav-item nav-link" th:href="@{/user/login}" th:if="${session.usrId == null}"
								th:classappend="${currentPage == 'login' ? 'active' : ''}">Login</a>

							<a class="nav-item nav-link" th:href="@{/user/accounts}"
								th:classappend="${currentPage == 'accounts' ? 'active' : ''}"
								th:if="${session.usrId != null}">Your Account</a>

							<a class="nav-item nav-link" th:href="@{/user/orders}"
								th:classappend="${currentPage == 'orders' ? 'active' : ''}"
								th:if="${session.usrId != null}">Orders</a>

							<a class="nav-item nav-link" th:href="@{/user/logout}"
								th:if="${session.usrId != null}">Logout</a>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>